name: Run ScanCode.io SCA
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  scancode_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          path: scancode-inputs

      - name: Run ScanCode.io Pipeline (SPDX Only)
        # Use the official action for ScanCode.io
        uses: aboutcode-org/scancode-action@beta 
        with:
          pipelines: "scan_codebase" 
          # *** Only requesting SPDX format ***
          output-formats: "spdx xlsx" 
          check-compliance: false 

      - name: Upload Scan Results Artifact
        uses: actions/upload-artifact@v4
        with:
          name: scancode-outputs
          # The resulting SPDX file will be in this path
          path: scancode-outputs/
